@media screen and (min-width:320px) {


    @mixin flex-colonne-centre {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    
    }

    div.interface{
        @include flex-colonne-centre;
    }

     header{        
        background: url(../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center;
        background-size: cover;
        margin: 0 auto;
        height:25vh; 
     }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .barre-navigation{
        @include flex-colonne-centre;
        background:rgb(0, 0, 0);
        height:50px;
        width:100%;
    }
    
    .toggle {
        display: none;
    }

    .logo-entreprise{
        border: #fff 3px solid; 
        align-self:center;
        width:70%;
        padding:1px 10px;
    }

    .logo-entreprise > h1:nth-child(2) {
        font-family: 'Roboto' , sans-serif;
    }

    .titre-entreprise{
        text-align:center;
        color:#fff;
        font-family: 'Courgette', cursive;
        font-weight: 200;
        font-size:1.3em;
     
    }

    .titre-page{
        margin:10px auto;
        padding: 5px auto;
        background:#bac373;
        font-family: 'Roboto', sans-serif;
        display:flex;
        align-self:center;
        align-items: center;
        width:98%;
        height:1em;
    }

    .Collaboration{
        padding: {
          left:0.8em;
        }
        color:#fff;
        font-size:10px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }

    .titre-presentation{
        font-family: 'Roboto', sans-serif;
    }

    .presentation{
        height:15em;
    }

    .art{
        color:#999999;
    }
    
    }