@media screen and (min-width:320px) {

    body{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    header{
        background: url(../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center;
        background-size: cover;
        height:25vh;
    }   

    .header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .barre-navigation{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        align-self:center;
        background:rgb(0, 0, 0);
        height:100px;
        width:100px;
    }
    
    .toggle {
        display: none;
    }

    .logo-entreprise{
        border: #fff 2px solid; 
    }

    .logo-entreprise > h1:nth-child(2) {
        font-family: 'Roboto' , sans-serif;
    }

    .titre-entreprise{
        color:#fff;
        font-family: 'Courgette', cursive;
        font-weight: 200;

    }

    .titre-page{
        margin:{
            left:0.2em;
            right:0.5em;
            top:0.5em;
            bottom:0.5em;
        }
        background:#bac373;
        font-family: 'Roboto', sans-serif;
        display:flex;
        align-self:center;
        align-items: center;
        width:96%;
        height:1em;
    }

    .Collaboration{
        padding:{
          left:0.8em;
        }
        display:flex;
        flex-direction: column;
        color:#fff;
        font-size:10px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }

    .titre-presentation{
        font-family: 'Roboto', sans-serif;
    }

    .presentation{
        display:flex;
        flex-direction:column;
        justify-content: center;
        height:25em;
    }

    h4{
        color:#999999;
    }
    
    .main{
        padding: {
            top:0.5em;
        }
        width:100%;
        height:50vw;
    }
    }