@media screen and (min-width:320px) {
 
 
    header{
        background:rgb(255, 14, 14); 
        height:10vh;
        width:100vw;

    }   

    .nav-wrapper{

    }

    ul{

    }

    .hero{

    }

    .titre-entreprise{

    }

    .premiere-section{
        
    }
    
    .presentation{
        
    }
}