@import 'variables';

@media screen and (min-width:320px) {


    @mixin flex-colonne-centre {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    div.interface{
        @include flex-colonne-centre;

        & h4{
            color : var(--couleurGris_pale);
        }
    }

    }