
@mixin flex-colonne-centre {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
@media screen and (min-width:320px) {

body{
    margin:0em;
}
    
header{    
    @include flex-colonne-centre;
    width:100%;
    height:30vh; 
 }

.header-wrapper {
    @include flex-colonne-centre;
    width:100%;
}

.hero{
    align-self: center;
}

#barre-navigation{
    @include flex-colonne-centre;
    flex-direction: row;
    justify-content: space-between;
    color:#fff;
    position:fixed;
    width:100%;
    top:0em;
    background:hsl(0, 0, 0);
    height:2.5em;
}

#authentification{
    position:relative;
    right:0.9em;
    font-size:0.7em;
}

#logo-entreprise{
    @include flex-colonne-centre;
    flex-direction:row;
    border: #fff 2.5px solid; 
    width:20em;
    font-size:0.8em;
    align-self: center;;
    position:absolute;
    top:7em;
}

#titre-entreprise-un{
    color:#fff;
    padding-right:0.5em;
    font-family: 'Courgette', cursive;
    font-weight: 400;
    margin:10px 0px 10px 0px;
}

#titre-entreprise-deux {
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin:10px 0px 10px 0px;
}

}

@media screen and (min-width:320px) and (orientation: landscape) {

    header{
        height:28em;
    }

    #logo-entreprise{
        top:11em;
        font-size:1.2em;
    }

    img{
        max-width: 100%;
        height:auto;
    }

    #barre-navigation{
        height:18vh;
        background-color:#fff;
    }

    
}

@media screen and (min-width:375px) and (orientation: portrait) {

    header{
        height:35vh;
    }

    #logo-entreprise{
        top:9em;
    }

}

@media screen and (min-width:600px) and (orientation: portrait) {

    header{
        height:57vh;
    }

    #barre-navigation{
        height:6vh;
    }

    #logo-entreprise{
        top:11.5em;
    }

    #titre-presentation{
        align-self: flex-start;
    }

    
}