@mixin flex-colonne-centre {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
 @media screen and (min-width:320px) {

 #premiere-section{
    @include flex-colonne-centre;
     height:70em;
     margin:0 auto;
     width:18em;
 }

 p{
     text-align:justify;
     font-size:0.8em;
     font-weight: 200;
 }    
 .titre-page{
     @include flex-colonne-centre;
     align-items: flex-start;
     font-family: 'Roboto', sans-serif;
     margin:1em auto;
     margin-top:0.4em;
     padding:5px auto;
     background:#bac373;
     width:18em;
     height:1.4em;
 }

 #Collaboration{
     padding: {
       left:0.8em;
     }
     color:#fff;
     font-size:11px;
     font-weight: 500;
 }

 #presentation{ 
    @include flex-colonne-centre;
    justify-content: center;
    width:18em;
}

 #titre-presentation{
     font-weight: 200;
     margin-top:2.2em;
     margin-bottom:0.3em;
 }

 #art{
     align-self: flex-start;
     color:hsl(0, 0%, 60%);
     font-size:0.7em;
     font-weight:600;
     margin-top:0em;
     margin-bottom:2em;
 }

 i{
     line-height:1.7;
     font-size:0.5em;
     text-align:center;
     font-weight:500;
 }


 #photo{
     color:rgb(37, 37, 37);
     font-size:0.5em;
     font-weight:200;
     align-self:flex-start;
 }
 
 #auteur{
    @include flex-colonne-centre;
    justify-content: center;
    align-items: flex-start;
    width:18em;
    height:14em;
    flex-direction:column;
}

 #border{
     @include flex-colonne-centre;
     border:2px solid hsl(20, 100%, 81%);
     width:120px;
     height:130px;
 }

 #man{
     padding-top:2.2em;
     width:150px;
 }
 
 #nom-auteur{
     display:flex;
     flex-direction: column;
     align-items:center;
     justify-content: center;
     margin:0em;
     margin-left:2.2em;     
     color:hsl(0, 0%, 16%);
 }

 #prenom-auteur{
     margin-bottom:0px;
     margin-top:0.8em;
 }
 
 div#auteur > #nom-auteur > h4:first-of-type{
     color:hsl(0, 0%, 0%);
     font-size: 0.9em;
 }

 div#auteur > #nom-auteur > h4{
    color:hsl(0, 0%, 60%);
}

 #famille-auteur{
     margin:0em;
     font-size:0.8em;
 }

 div#origine > .orange  {
    margin-top:0em;
 }

 .orange  {
    color:rgb(255, 105, 86);
    font-weight: 500;
}

 #contenu{
     font-weight:300;
     font-size:0.8em;
     line-height: 1.5em;
 }

 #plat{
     line-height:1.6em;

 }
 
 #origine{
     margin-top:0em;
     padding-top:0em;
     width:18em;
 }

 #bonheur-famille{
     @include flex-colonne-centre;
     width:18em;
 }
}

@media screen and (orientation: landscape) {

    .titre-page{
        width:90vw;
    }

    #premiere-section{
        width:80vw;
        height:60em;
    }

    #presentation{
        width:90vw;
        height:25em;
    }

    #titre-presentation{
        align-self: flex-start;
        margin-top:0em;
    }

    #auteur{
        align-self: start;
    }

    #origine{
        width:90vw;
    }

    #bonheur-famille{
        width:90vw;
    }

    #bonheur-famille > h3{
        align-self:start;
    }

}
