@mixin flex-colonne-centre {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

@media screen and (min-width:320px) {


#seconde-section{
    @include flex-colonne-centre;
    height:132em;
}

#recettes-presentation{
    width: 18em;
}

#recettes{
    @include flex-colonne-centre;
    width:100vw;

}

.consulter{
    color:hsl(0, 100%, 100%);
    background: hsl(67, 48%, 63%);
    padding:0.5em 1em 0.5em 1em;
    font-size:0.8em;
    font-weight: 500;
    width:9em;
    border-radius: 6px;
}

.titre-recette{
    font-weight:500;
}

.recette{
    line-height:25px;
}

}

@media screen and (orientation: landscape) {

#seconde-section{
    height:120em;

}

#recettes-presentation{
    width:90vw;
}

#recettes-presentation > h3{
    align-self:start;
}

.recette{
    height:10em;
    width:90vw;
}

#premiere-recette{
    height:25em;
    grid-gap:1.5rem;
    grid-template-rows:
    4em 12em 10em 5em;
}

}