:root {
  --couleurGris_pale: hsl(0, 0%, 60%);
}

@media screen and (min-width: 320px) {
  div#interface {
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    margin: 0 auto;
  }
  div#interface h4 {
    color: var(--couleurGris_pale);
  }
}

#premiere-recette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18em;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-rows: 2.5em 13em 8.5em 2em;
      grid-template-rows: 2.5em 13em 8.5em 2em;
  margin-bottom: 1em;
}

#deuxieme-recette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18em;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-rows: 2.5em 13em 16.5em 2em;
      grid-template-rows: 2.5em 13em 16.5em 2em;
  margin-bottom: 1em;
}

#troisieme-recette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18em;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-rows: 2.5em 13em 13.5em 2em;
      grid-template-rows: 2.5em 13em 13.5em 2em;
  margin-bottom: 1em;
}

@media screen and (min-width: 320px) {
  body {
    margin: 0em;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 30vh;
  }
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 30vh;
  }
  .hero {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #barre-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0em;
    background: black;
    height: 2.5em;
  }
  #authentification {
    position: relative;
    right: 0.9em;
    font-size: 0.7em;
  }
  #logo-entreprise {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: row;
        flex-direction: row;
    border: #fff 2.5px solid;
    width: 20em;
    font-size: 0.8em;
    -ms-flex-item-align: center;
        align-self: center;
    position: absolute;
    top: 7em;
  }
  #titre-entreprise-un {
    color: #fff;
    padding-right: 0.5em;
    font-family: 'Courgette', cursive;
    font-weight: 400;
    margin: 10px 0px 10px 0px;
  }
  #titre-entreprise-deux {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 10px 0px 10px 0px;
  }
}

@media screen and (min-width: 320px) {
  .side-bar {
    position: fixed;
    width: 260px;
    height: 100%;
    left: -17em;
    top: 2.4em;
    background: #181818;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
  }
  .side-bar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1px solid rgba(225, 225, 225, 0.1);
    border-bottom: 1px solid black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  ul li:hover a {
    padding-left: 50px;
  }
  .side-bar ul a i {
    margin-right: 16px;
  }
  li {
    list-style: none;
  }
  li > a {
    text-decoration: none;
  }
  #check {
    display: none;
  }
  #menu-hamburger {
    position: relative;
    left: 1em;
    top: 0.8em;
    width: 1em;
    color: #fff;
  }
  label #menu-hamburger {
    position: absolute;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  #check:checked ~ .side-bar {
    left: 0;
  }
}

@media screen and (min-width: 320px) {
  #premiere-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70em;
    margin: 0 auto;
    width: 18em;
  }
  p {
    text-align: justify;
    font-size: 0.8em;
    font-weight: 200;
  }
  .titre-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    margin: 1em auto;
    margin-top: 0em;
    padding: 5px auto;
    background: #bac373;
    width: 18em;
    height: 1.4em;
  }
  #Collaboration {
    padding-left: 0.8em;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
  }
  #presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
    width: 18em;
  }
  #titre-presentation {
    font-weight: 200;
    margin-bottom: 0.2em;
  }
  #art {
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #999999;
    font-size: 0.7em;
    font-weight: 600;
    margin-top: 0em;
    margin-bottom: 2em;
  }
  i {
    line-height: 1.7;
    font-size: 0.5em;
    text-align: center;
    font-weight: 500;
  }
  .orange {
    color: #ff6956;
    font-weight: 500;
  }
  #photo {
    color: #252525;
    font-size: 0.5em;
    font-weight: 200;
  }
  #auteur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 18em;
    height: 11em;
    flex-direction: column;
  }
  #border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #ffbe9e;
    width: 120px;
    height: 130px;
  }
  #man {
    padding-top: 2.2em;
    width: 150px;
  }
  #nom-auteur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #292929;
  }
  #prenom-auteur {
    color: black;
    margin-top: 0em;
  }
  #famille-auteur {
    margin: 0em;
    font-size: 0.8em;
  }
  #contenu {
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.5em;
  }
  #plat {
    line-height: 1.6em;
  }
  #origine {
    margin-top: 0em;
    padding-top: 0em;
    width: 18em;
  }
  #bonheur-famille {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 18em;
  }
}

#seconde-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 132em;
}

#recettes-presentation {
  width: 18em;
}

#recettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.consulter {
  color: white;
  background: #c3ce73;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 0.8em;
  font-weight: 500;
  width: 9em;
  border-radius: 6px;
}

.titre-recette {
  font-weight: 500;
}

.recette {
  line-height: 25px;
}

@media screen and (min-width: 320px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #222222;
    color: #fff;
    width: 100vw;
    height: 3vh;
    font-size: 0.5em;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
}
/*# sourceMappingURL=style.css.map */