
@mixin flex-colonne-centre {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

header{    
    display:flex;
    flex-direction: column;
    align-content: center;
    background: url(img/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat center;
    background-size: cover;
    margin: 0 auto;
    height:23vh; 
 }


.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.barre-navigation{
    @include flex-colonne-centre;
    background:rgb(0, 0, 0);
    height:50px;
    width:100%;
}