@media screen and (min-width:320px) {

    div#interface  {
    max-width: 100vw;
    margin: 0 auto;
}

header{
    grid-area: 'header';
}

.premiere-section{
    grid-area: 'premiere-section';
}

.deuxieme-section{
    grid-area: 'deuxieme-section';
}

footer{
    grid-area:'footer';
}

}