

#premiere-recette{
    display:grid;
    grid-gap:1.5rem;
    grid-template-rows:
    2.5em 13em 8.5em 2em;
    grid-template-columns:97%;
    margin-bottom:1em;
}

#deuxieme-recette{
    display:grid;
    grid-gap:1.5rem;
    grid-template-rows:
    2.5em 13em 18em 2em;
    grid-template-columns:97%;
    margin-bottom:1em;
}

#troisieme-recette{
    display:grid;
    grid-gap:1.5rem;
    grid-template-rows:
    2.5em 13em 13.5em 2em;
    grid-template-columns:97%;
    margin-bottom:2.5em;
}



